body {
    font-family: Arial;
}

h1 {
    margin: 0px;
}

hr {
    color: #c9ccc9;
}

head {
    background-color: #d4ffc7;
}

.cabecera-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eef2f7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 20px;
}

main {
    display:flex;
    color: #414748;
    gap: 20px;
}

aside {
    width: 25%;
    background-color: #dbdee1;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    margin: 0px;
}

section {
    width: 75%;
    background-color: #eef2f7;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.boton {
    color: black;
    background-color: #cecbcb;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.boton:hover {
    color: white;
    background-color: #6a6d69;
}

.seccion {
    color: #414748;
    background-color: #51689277;
    text-align: center;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.seccion:hover {
    color: white;
    background-color: #677183;
}

.boton-conectado {
    color: #414748;
    background-color: #616ba36c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 25px;
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
}

.boton-conectado {
    color: #414748;
    background-color: #616ba36c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 25px;
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
}

.boton-conectado-off {
    color: #353b588f;
    background-color: #656ea3c0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 25px;
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s;
}

.boton-conectado-off:hover {
    background-color: #616ba36c;
    color: #414748;
}

.boton-activo {
    color: white;
    background-color: #6a6d69;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
}

.barra-navegacion {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.barra-navegacion-adopcion {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: left;
}

.imagen-redonda {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 15px;
    border-radius: 100%;
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-left {
    display: flex;
    justify-content: left;
}

.content-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-fix {
    width: 25%;
    height: auto;
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;
    display: block;
}

.footer-img {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.seccion-suministros {
    background-color: #e7e7e7;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 5px;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin: 2px;
}

.seccion-adopcion {
    background-color: #616ba36c;
    border-radius: 15px;
    display: flex;
    padding: 5px 5px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 5px;
    align-items: stretch;
}

.seccionunion-adopcion {
    background-color: #616ba36c;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    padding: 5px 5px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 5px;
    align-items: stretch;
}

.subseccion {
    border-radius: 15px;
    background-color: #616ba36c;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.resaltar-texto {
    background-color: #acb6ed90;
    padding: 5px 5px;
    border-radius: 5px;
}

.img-cuadrada {
    width: 250px;
    height: auto;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px;
}

.publicidad {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 5px;
}